@{
    ViewData["Title"] = "Home Page";
}
@*adding image to the home page*@

 <br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="container">
    <div align="center" class="OurTeamTextColor">
         <h1>OUR TEAMS ARE HERE</h1>
    </div>
   <div align="center" class="OurTeamContentColor">
       Team members of multinational companies come from different countries with a different culture,
       economic, religions and habits. All of these differences bring a different thinking and working methods,
       thus, how to manage the multicultural team is a big challenge for the HRM in the multinationals.
   </div>
   <br /><br />


    <table>
  <tr>
    <th> <img src="img/emply1.jpeg"></th>
    <th> <img src="img/emply2.jpeg"></th>
    <th> <img src="img/emply3.jpeg"></th>
  <tr>
    <td><h3>Hugo Silva</h3></td>
    <td><h3>Imanol Arias</h3></td>
    <td><h3>Javier Bardem</h3></td>
  </tr>
 <tr>
    <td><p>Hugo Silva Team members of multinational companies come from different countries with a different culture,
       economic, religions and habits. All of these differences bring a different thinking and working methods,
       thus, how to manage the multicultural team is a big challenge for the HRM in the multinationals.</p></td>
    <td><p>Imanol Arias Team members of multinational companies come from different countries with a different culture,
       economic, religions and habits. All of these differences bring a different thinking and working methods,
       thus, how to manage the multicultural team is a big challenge for the HRM in the multinationals.</p></td>
    <td><p>Javier Bardem Team members of multinational companies come from different countries with a different culture,
       economic, religions and habits. All of these differences bring a different thinking and working methods,
       thus, how to manage the multicultural team is a big challenge for the HRM in the multinationals.</p></td>
  </tr>
  </table>
<br /><br /><br /><br />

</div>